.u-header {
    background-image: none;
  }
  .u-valign-middle,
  .u-valign-top,
  .u-valign-bottom {
    display: flex;
    flex-direction: column;
  }
  .u-image.u-logo {
    display: table;
    white-space: nowrap;
  }
  .u-image.u-logo img {
    display: block;
  }
  .u-header .u-image-1 {
    width: 64px;
    height: 32px;
    margin: 22px auto 0 0;
  }
  .u-header .u-logo-image-1 {
    width: 100%;
    height: 100%;
  }
  .u-menu {
    opacity: 0;
  }
  .u-menu-dropdown .u-nav-container .u-popup-left {
    right: 0;
  }
  .u-menu-dropdown .u-nav-container .u-popup-right {
    left: 0;
  }
  .u-menu-dropdown .u-nav-container .u-nav-item .u-nav-item .u-nav-popup {
    top: 0;
    left: 100%;
  }
  .u-menu-dropdown .u-nav-container .u-nav-item .u-nav-item .u-nav-popup.u-popup-left {
    right: 100%;
    left: auto;
  }
  .u-overlap.u-offcanvas-opened .u-header.u-sticky {
    z-index: auto;
    position: absolute !important;
  }
  .u-overlap.u-offcanvas-opened .u-header.u-sticky + section {
    z-index: -1;
  }
  .u-nav-container .u-nav-popup {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
  }
  .u-nav-container .u-nav-item .u-nav-item {
    display: block;
  }
  .u-nav-container .u-nav-item:hover > .u-nav-popup:not(.fake) {
    visibility: visible;
    pointer-events: auto;
  }
  .u-nav,
.u-nav-item {
  position: relative;
}
.u-nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.u-nav-item {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  height: 100%;
}

.theme-color{
  background-color: #00bf8f;
}
ul:not(.u-unstyled)
{
margin-top: 20px;
margin-bottom: 20px;
}
.u-header .u-nav-1 {
    font-size: 1rem;
    letter-spacing: 0px;
  }
  .u-button-style[class*="u-custom-color-"],
  .u-button-style[class*="u-palette-"],
  .u-button-style[class*="u-gray-"],
  .u-button-style.u-white,
  .u-button-style.u-black {
    border-width: 0;
  }
 